<FilesMatch "\.(js|css|html|png|jpg|jpeg|gif|ico|json|xml|txt)$">
    Require all granted
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>
